{% extends 'base.html' %} {% block title %} Tickets {% endblock %} {% block
content %}

<div class="tiket-container flex-center">
  <div class="container dashboard">
    <div class="row flex-center">
      <div class="dash_card col-md-4 flex-columns">
        <div class="dash_card-header flex-center">
          <i class="fa-solid fa-plane-circle-xmark"></i>
        </div>
        <h5>Please Try Again!</h5>
        <p>Currently No Tickets Available</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
